.contact{
    height: 45vh;
    bottom: 0;
}

.cont i{
    font-size: 70px;
}

.cont a {
   display: flex;
   flex-direction: column;
    margin: 40px;
    color: #111;
   text-align: center;
   transition: 0.2s;
}

.cont a:hover {
 transform: scale(1.2);
    


}

.cont a span {
 font-size: 2rem;
}

.contactt {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer  {
display: flex;
align-items: center;
justify-content: center;
}

.footer p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}


.container_flex{
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {

    .contact{
    height: 30vh;
   
}

    .cont i{
    font-size: 50px;
}

.cont a {

    margin: 10px;
  
}
.cont a span {
 font-size: 1rem;
}

}